.mat-table-budget {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  margin: 10px;
}

th {
  background-color: black !important;
  color: white
}

table.th {
  width: 100%;
  display: flex;
}

table.td {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

tr:hover {
  background-color: lightgreen !important;
  cursor: pointer;
}

tr:nth-child(2n) {
  background-color: lightgray;
}

.expansion-panel {
  width: 50%;
  padding-right: 20%;
  padding-left: 20%;
}

.error {
    background-color: red;
}

.success {
    background-color: green;
}

.grand-total {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.action-buttons {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 16px;
  margin: 20px 0;
}

.action-buttons button {
  min-width: 180px;
}