.mat-table-budget {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  padding-right: 20%;
  padding-left: 20%;
}

th {
  background-color: black !important;
  color: white
}

table.th {
  width: 100%;
  display: flex;
}

table.td {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

tr:hover {
  background-color: lightgreen !important;
  cursor: pointer;
}

tr:nth-child(2n) {
  background-color: lightgray;
}

