<h2>Budgets</h2>

<mat-table [dataSource]="dataSource" class="mat-table d-flex align-center">
  <ng-container matColumnDef="budgetId">
    <th mat-header-cell *matHeaderCellDef> budgetId </th>
    <td mat-cell *matCellDef="let budget"> {{budget.budgetId}} </td>
  </ng-container>

  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef> userId </th>
    <td mat-cell *matCellDef="let budget"> {{budget.userId}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> date </th>
    <td mat-cell *matCellDef="let budget"> {{budget.date.toDateString()}} </td>
  </ng-container>

  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef> user </th>
    <td mat-cell *matCellDef="let budget"> {{budget.user.firstName}} {{budget.user.lastName}} </td>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns" />
  <mat-row *matRowDef="let row; columns: displayedColumns" (click)="navigateToBudgetDetails(row)" />
</mat-table>
