:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.date-picker-dialog {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 10px;
}
