<div class="d-flex flex-column align-items-center">
  <h2 mat-dialog-title>Create New Budget</h2>

  <mat-dialog-content class="date-picker-dialog">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Year</mat-label>
      <mat-select [(value)]="selectedYear">
        <mat-option *ngFor="let year of years" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Month</mat-label>
      <mat-select [(value)]="selectedMonth">
        <mat-option *ngFor="let month of months; let i = index" [value]="i">
          {{ month }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="d-flex justify-content-end">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button color="primary" (click)="onSaveClick()">Create</button>
  </mat-dialog-actions>
</div>